@navHeight: 50px;

nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: @navHeight;
  background-color: rgb(200, 100, 100);

  ul {
    display: flex;
    padding: 0;
    margin: 0;

    li {
      align-self: flex-start;
      color: white;
      font-weight: bolder;
      height: @navHeight;
      line-height: @navHeight;
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0 10px;
      cursor: pointer;

      &.active {
        background-color: rgba(200, 100, 100, 0.5);
      }
      &:hover {
        background-color: rgb(255, 100, 100);
      }
    }

  }
}